{{> head}}
    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Capitan América</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium adipisci vel, vero cumque quam voluptate harum delectus quis, impedit temporibus rem. Officia vel rem nulla similique quae ab. Obcaecati, laudantium?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/capitan-america.png" class="img-thumbnail">
        </div>

    </div>

    {{> footer }}